"*":
  core:
    disabledPackages: [
      "atomic-emacs"
      "python-tools"
    ]
    themes: [
      "atom-dark-ui"
      "no-caffeine-syntax"
    ]
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "baf3ecc4-87a6-ee77-2673-3905e8baeb9b"
  welcome:
    showOnStartup: false
".c2hs.source":
  editor:
    autoIndent: false
editor:
  tabLength: 4
"exception-reporting":
  userId: "3f85e02f-3fab-5b27-e646-2f272c1ca901"
welcome:
  showOnStartup: false
